.dark-button {
  background-color: #132f3d;
  height: 48px;
  padding: 0 24px;
  border-radius: 8px;
  box-shadow: 0px 10px 25px -10px #0d2632;
  transition: 0.3s;

  &:hover {
    background-color: #0d222d;
    transition: 0.3s;
    transform: translateY(-4px);
  }
}

.back-button {
  cursor: pointer;
  img {
    transition: 0.3s;
  }
  &:hover {
    img {
      transition: 0.3s;
      transform: translateX(-4px);
    }
  }
}

.image-wrapper-83 {
  position: relative;
  padding-top: 83%;
  overflow: hidden;
  border-radius: 8px;
  img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.darkblue-ball {
  background-color: #132f3d;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  margin: auto;
}

.grey-ball {
  background-color: #c7d4db;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  margin: auto;
}
.step-direction {
  .step-line {
    width: 100%;
    height: 3px;
    border-radius: 12px;
    background-color: #c7d4db;
    &.active {
      background-color: #132f3d;
    }
  }
}

.border-right {
  border-right: 1px solid #c7d4db;
}

// /////////////////////////////////////////////////////////////////////////////////////////////////
// ///////////////////////////////////////SWIPER JS CUSTOMIZATIONS//////////////////////////////////
// /////////////////////////////////////////////////////////////////////////////////////////////////

.swiper-button-prev,
.swiper-button-next {
  color: #c7d4db !important;
  &::after {
    font-size: 28px !important;
  }
}

.swiper-pagination-bullet {
  background-color: #d9d9d9 !important;
  &.swiper-pagination-bullet-active {
    background-color: #132f3d !important;
  }
}

// /////////////////////////////////////////////////////////////////////////////////////////////////
// ///////////////////////////////////////MUI CUSTOMIZATIONS////////////////////////////////////////
// /////////////////////////////////////////////////////////////////////////////////////////////////

.col-auto,
.col-12 {
  &.px-2 {
    padding-left: 8px;
    padding-right: 8px;
  }
}

.password {
  &.rounded-lg {
    border-radius: 8px !important;
  }
}
.remove-mui-label {
  label {
    display: none;
  }
}

// offline drawer
.MuiDrawer-root.MuiDrawer-modal.MuiModal-root.mui-1u2w381-MuiModal-root-MuiDrawer-root {
  .mui-4t3x6l-MuiPaper-root-MuiDrawer-paper {
    background-color: #132f3d;
  }
}
// online drawer
.MuiPaper-root.MuiPaper-elevation.MuiPaper-elevation16.MuiDrawer-paper.MuiDrawer-paperAnchorLeft.mui-wf16b5 {
  background-color: #132f3d;
}

.MuiSvgIcon-root.MuiSvgIcon-fontSizeSmall.mui-ptiqhd-MuiSvgIcon-root {
  color: #ececec;
}

.MuiOutlinedInput-notchedOutline.mui-1d3z3hw-MuiOutlinedInput-notchedOutline,
.MuiOutlinedInput-notchedOutline.mui-igs3ac {
  border: none;
}
.validity-dates {
  .MuiInputBase-root.MuiOutlinedInput-root.MuiInputBase-colorPrimary.MuiInputBase-fullWidth.MuiInputBase-formControl.mui-md26zr-MuiInputBase-root-MuiOutlinedInput-root {
    background-color: white;
  }
}
