.upload-container {
  border-radius: 16px;
  height: 220px;
  border: 2px dashed #c7d4db;
}
.progress-tag {
  border-radius: 24px;
  height: 44px;
  background-color: #c6deea;
}
.uploaded-tag {
  border-radius: 24px;
  height: 44px;
  background-color: #39ae6c;
}
