.tab {
  background-color: transparent;
  transition: 0.3s ease-in-out;
  color: #ececec;
  cursor: pointer;
  border-radius: 4px;

  &.active,
  &:hover {
    transition: 0.3s ease-in-out;
    background-color: #132f3d;
    color: #fddfbb;
  }
}

.password {
  .mui-i4bv87-MuiSvgIcon-root,
  .MuiSvgIcon-root.MuiSvgIcon-fontSizeMedium.mui-vubbuv {
    color: #fddfbb;
  }
  .bg-default-100 {
    background-color: #030f15 !important;
  }
  .mui-nxo287-MuiInputBase-input-MuiOutlinedInput-input,
  .MuiInputBase-input.MuiOutlinedInput-input.MuiInputBase-inputAdornedEnd.mui-1uvydh2 {
    color: #ececec;
  }

  .mui-1d3z3hw-MuiOutlinedInput-notchedOutline,
  .MuiOutlinedInput-notchedOutline.mui-igs3ac {
    display: none;
  }
  .mui-1wr5dqe-MuiFormControl-root,
  .MuiFormControl-root.bg-dark-input {
    border-radius: 0.25rem;
  }
  .text-small {
    font-size: 16px;
  }
}

.multiselect {
  .mui-6od3lo-MuiChip-label,
  .mui-38raov-MuiButtonBase-root-MuiChip-root .MuiChip-deleteIcon,
  .MuiSvgIcon-root.MuiSvgIcon-fontSizeMedium.MuiChip-deleteIcon.MuiChip-deleteIconMedium.MuiChip-deleteIconColorDefault.MuiChip-deleteIconFilledColorDefault.mui-vubbuv {
    color: #ececec;
    transition: 0.3s;
  }
  .mui-38raov-MuiButtonBase-root-MuiChip-root .MuiChip-deleteIcon:hover,
  .MuiSvgIcon-root.MuiSvgIcon-fontSizeMedium.MuiChip-deleteIcon.MuiChip-deleteIconMedium.MuiChip-deleteIconColorDefault.MuiChip-deleteIconFilledColorDefault.mui-vubbuv:hover {
    transition: 0.3s;
    color: rgba(236, 236, 236, 0.4);
  }

  .MuiButtonBase-root.MuiChip-root.MuiChip-filled.MuiChip-sizeMedium.MuiChip-colorDefault.MuiChip-deletable.MuiChip-deletableColorDefault.MuiChip-filledDefault.MuiAutocomplete-tag.MuiAutocomplete-tagSizeMedium.mui-o1spff {
    background: rgba(255, 255, 255, 0.2);
    color: #ececec;
  }

  .MuiSvgIcon-root {
    &.MuiSvgIcon-fontSizeMedium {
      &.mui-i4bv87-MuiSvgIcon-root {
        color: #ececec;
      }
    }
  }
  .MuiInputBase-input {
    &.MuiOutlinedInput-input {
      &.MuiInputBase-inputAdornedEnd {
        color: #ececec !important;
      }
    }
  }
}
